@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bukra';
  src: url('../../public/fonts/29LTBukra-Regular.otf') format('opentype');
  font-style: normal;
}
.bukra {
  font-family: 'bukra', sans-serif;
}

@font-face {
  font-family: 'bukra-semi-bold';
  src: url('../../public/fonts/29LTBukra-SemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


.bukra-semi-bold {
  font-family: 'bukra-semi-bold', sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --primary-900: #101828;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --secondary-700: #344054;
    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: #d0d5dd;
    --border-secondary: #e4e7ec;
    --border-primary: #d0d5dd;
    --border-disabled-subtle: #e4e7ec;
    --border-brand: #544cfc;
    --border-brand-alt: #2318fb;

    --input: 0 0% 89.8%;
    --disabled: #667085;
    --placeholder: #667085;

    --ring: #544cfc;
    --focus-ring: #544cfc;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --bg-primary: #ffffff;
    --bg-secondary: #f9fafb;
    --bg-secondary-alt: #f9fafb;
    --bg-primary-alt: #ffffff;
    --bg-primary_hover: #f9fafb;
    --fg-success-primary: #079455;
    --bg-error-primary: #fef3f2;
    --bg-brand-solid: #2318fb;
    --bg-background-secondary-hover: #f2f4f7;
    --bg-active: #f9fafb;
    --bg-disabled_subtle: #f9fafb;
    --bg-tertiary: #f2f4f7;
    --bg-quaternary: #e4e7ec;

    --fg-primary-900: #101828;
    --fg-secondary-700: #344054;
    --fg-disabled: #98a2b3;
    --fg-brand-secondary-500: #544cfc;
    --fg-brand-primary-600: #2318fb;
    --fg-quaternary-500: #667085;
    --fg-error-primary: #d92d20;
    --fg-error-secondary: #f04438;
    --fg-quinary-400: #98a2b3;
    --fg-quinary-hover: #667085;

    --text-primary-900: #101828;
    --text-secondary-700: #344054;
    --text-disabled: #667085;
    --text-secondary-hover: #182230;
    --text-brand-secondary-700: #6941c6;
    --text-error-primary-600: #d92d20;
    --text-tertiary-600: #475467;
    --text-primary-on-brand: #ffffff;
    --text-brand-tertiary-alt: #2318fb;
    --text-placeholder: #667085;
    --text-placeholder-subtle: #d0d5dd;
    --text-quaternary-500: #667085;
    --nav-item-button-icon-fg: #667085;

    --utility-brand-50: #f5f5ff;
    --utility-brand-200: #e2e1fe;
    --utility-brand-700: #0e04dd;

    --utility-gray-50: #f9fafb;
    --utility-gray-200: #e4e7ec;
    --utility-gray-700: #344054;

    --button-tertiary-fg: #475467;
    --button-secondary-fg: #344054;
    --button-secondary-border: #d0d5dd;
    --button-secondary-bg: #ffffff;

    --button-secondary-fg-hover: #182230;
    --button-secondary-border-hover: #d0d5dd;
    --button-secondary-bg-hover: #f9fafb;

    --button-primary-fg: #ffffff;
    --button-primary-fg_hover: #ffffff;
    --button-primary-bg: #2318fb;
    --button-primary-bg_hover: #0e04dd;
    --button-tertiary-color-fg: #0e04dd;
    --button-tertiary-color-fg_hover: #0a03ab;
    --button-tertiary-color-bg_hover: #f5f5ff;
    --button-primary-error-bg: #d92d20;
    --button-primary-error-bg-hover: #b42318;
    --success-600: #079455;
    --featured-icon-modern-border: #e4e7ec;
    --radix-popover-trigger-width: 20%;

    --scrollbar-thumb: rgba(155, 155, 155, 0.5);
    --scrollbar-track: transparent;
    --tile: #171717;
  }

  .dark {
    --background: #0c111d;

    --foreground: #fafafa;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: #0c111d;

    --popover-foreground: #fafafa;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --primary-900: #f5f5f6;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --secondary-700: #cecfd2;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: #544cfc;

    --accent-foreground: #fafafa;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: #333741;
    --border-secondary: #1f242f;
    --border-primary: #333741;
    --border-disabled-subtle: #1f242f;
    --border-brand: #827dfd;
    --border-brand-alt: #333741;
    --input: 0 0% 14.9%;
    --disabled: #85888e;
    --placeholder: black;
    --ring: #544cfc;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --bg-primary: #0c111d;
    --bg-secondary: #161b26;
    --bg-secondary-alt: #0c111d;
    --bg-primary-alt: #161b26;
    --bg-primary_hover: #1f242f;
    --bg-active: #1f242f;
    --bg-disabled_subtle: #161b26;
    --bg-tertiary: #1f242f;
    --bg-error-primary: #fef3f2;
    --bg-brand-solid: #2318fb;
    --bg-quaternary: #333741;

    --fg-primary-900: #ffffff;
    --fg-secondary-700: #cecfd2;
    --fg-disabled: #85888e;
    --fg-brand-secondary-500: #544cfc;
    --fg-brand-primary-600: #544cfc;
    --fg-quaternary-500: #94969c;
    --fg-success-primary: #17b26a;
    --fg-error-primary: #d92d20;
    --fg-error-secondary: #f97066;
    --fg-quinary-400: #85888e;
    --fg-quinary-hover: #94969c;
    --fg-brand-primary_alt: #cecfd2;
    /*     not in light mode*/
    --fg-brand-primary_alt: #cecfd2;

    --text-primary-900: #f5f5f6;
    --text-secondary-700: #cecfd2;
    --text-disabled: #667085;
    --text-secondary-hover: #ececed;
    --text-brand-secondary-700: #cecfd2;
    --text-error-primary-600: #f97066;
    --text-tertiary-600: #94969c;
    --text-primary-on-brand: #f5f5f6;
    --text-brand-tertiary-alt: #f5f5f6;
    --text-placeholder: #85888e;
    --text-placeholder-subtle: #333741;
    --text-quaternary-500: #94969c;

    /*     not in light mode*/
    --text-brand-primary-900: #f5f5f6;

    --utility-brand-50: #040146;
    --utility-brand-200: #0a03ab;
    --utility-brand-700: #d6bbfb;

    --utility-gray-50: #161b26;
    --utility-gray-200: #333741;
    --utility-gray-700: #cecfd2;

    --button-tertiary-fg: #94969c;
    --button-secondary-fg: #cecfd2;
    --button-secondary-border: #333741;
    --button-secondary-bg: #161b26;

    --button-secondary-fg-hover: #f0f1f1;
    --button-secondary-border-hover: #333741;
    --button-secondary-bg-hover: #1f242f;

    --button-primary-fg: #ffffff;
    --button-primary-fg_hover: #ffffff;
    --button-primary-bg: #2318fb;
    --button-primary-bg_hover: #0e04dd;
    --button-tertiary-color-fg: #cecfd2;
    --button-tertiary-color-fg_hover: #f0f1f1;
    --button-tertiary-color-bg_hover: #1f242f;
    --button-primary-error-bg: #d92d20;
    --button-primary-error-bg-hover: #b42318;

    --featured-icon-modern-border: #333741;
    /*     not in light mode*/
    --featured-icon-dark-fg-brand: #e2e1fe;

    --success-600: #079455;

    --nav-item-button-icon-fg: #94969c;

    --Gradient-skeuemorphic-gradient-border: rgba(255, 255, 255, 0.12);
    --tile: #f5f5f5;
  }
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
html {
  scroll-behavior: smooth !important;
  font-family: 'bukra', sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground !overflow-x-hidden w-full;
  }
}

@layer utilities {
  .trns {
    @apply transition-all duration-300 ease-in-out;
  }
  .rtl {
    direction: rtl;
  }
  .ltr {
    direction: ltr;
  }
  .flip {
    transform: rotateY(180deg);
  }

  .absolute-center {
    @apply absolute translate-x-1/2 right-1/2 bottom-1/2 translate-y-1/2;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .hover__underline {
    @apply relative before:content-[""] before:absolute  before:left-0 before:w-full before:bottom-0 before:h-0.5 before:rounded-lg  before:bg-accent before:trns before:opacity-0 hover:before:opacity-100;
  }

  .ease-cubic-bezier {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .link__underline {
    display: inline-block;
    padding-bottom: 30px;
    background: linear-gradient(currentColor 0 0) var(--p, 0) 100% / var(--d, 0)
      2px no-repeat;
    transition: 0.3s, background-position 0s 0.3s;
    border-radius: 0px;
  }
  .link__underline:hover,
  .link__underline.active {
    --d: 100%;
    --p: 100%;
  }
}


@keyframes arrowMoveDown {
  0% {
    transform: translateY(0%); /* Arrow starts above the button */
    opacity: 0; /* Visible */
  }
  25% {
    transform: translateY(25%); /* Arrow moves halfway down */
    opacity: .2; /* Slightly hidden, for smoother transition */
  }
  50% {
    transform: translateY(50%); /* Arrow moves halfway down */
    opacity: .5; /* Slightly hidden, for smoother transition */
  }
  75% {
    transform: translateY(70%); /* Arrow moves halfway down */
    opacity: .8; /* Slightly hidden, for smoother transition */
  }
  100% {
    transform: translateY(75%); /* Arrow reaches the bottom */
    opacity: 1; /* Fully visible */
  }
}



.arrow-down {
  width: 30px;
  height: 30px;
}

.top-arrow {
  animation: arrowMoveDown 1s ease-in-out infinite; /* Top arrow moves down */
}

.bottom-arrow {
  animation: arrowMoveDown 1s ease-in-out .5s infinite; /* Bottom arrow moves down after a 1s delay */
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #FFFFFF !important;
  opacity: 0.5;
  transition: background 0.3s, opacity 0.3s;
}

/* Customizing the active bullet */
.swiper-pagination-bullet-active {
  background: #F8FBFC !important;
  width: 14px !important;
  height: 14px !important;
  opacity: 1;
}

